@using RazorLight
@using static KCode.SMITEClient.HtmlGenerating.HtmlViewHelpers
@inherits TemplatePage<KCode.SMITEClient.Data.GodJsonModel[]>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SMITE God Skins Overview</title>
    <link rel="stylesheet" href="@GetResourceRef("god-skins.css")" />
</head>
<body>
    <aside id="relatedpages">See also: <a href="god-skin-themes.html">SMITE Skin Themes</a><a href="smitegods.html">SMITE Gods Overview Table</a><a href="godstats.html">SMITE God Stats</a></aside>
    <h1>SMITE God Skins<span id="overall-skin-count"></span></h1>
    <div id="filters">
        Filters:
        <label>God name: <input type="text" id="filter-godname" disabled></label><input id="filter-godname-clear" class="filter-clear" type="button" value="⌧"/>
        <label>Skin name: <input type="text" id="filter-skinname" disabled></label><input id="filter-skinname-clear" class="filter-clear" type="button" value="⌧"/>
        <label class="filter-checkbox"><input type="checkbox" id="show-standard"> Show Standard Skin</label>
        <label class="filter-checkbox"><input type="checkbox" id="show-mastery"> Show Mastery Skins</label>
    </div>
    @foreach (var god in Model)
    {
        <details id="god@(god.Id)" class="god ">
            <summary><!--
                --><h2>
                    <img class="godicon" src="@god.GodIconUrl" alt=""><!--
                    --><span class="godname">@god.Name</span><!--
                    --><span class="godskincount">(?/@(god.Skins!.Length))</span>
                </h2><!--
            --></summary>
            <div id="skins@(god.Id)" class="skins">
            @foreach (var skin in god.Skins.OrderBy(x => x))
            {
                <div class="skin">
                    <h3 class="skinname">@skin.Name</h3>
                    <div class="obtainability">@skin.Obtainability</div>
                    @if (skin.CardUri != null && skin.CardUri.ToString() != "")
                    {
                    <a class="skincard" href="@skin.CardUri" title=""><img class="skincard" src="img/god-skin-card-loading.png" data-src="@skin.CardUri" alt=""></a>
                    }
                    else
                    {
                    <div class="skincard skincard-missing">missing card art</div>
                    }
                    @if (skin.PriceFavor > 0)
                    {
                    <div class="price price-favor">@skin.PriceFavor favor</div>
                    }
                    @if (skin.PriceGems > 0)
                    {
                    <div class="price price-gems">@skin.PriceGems gems</div>
                    }
                </div>
            }
            </div>
        </details>
    }
    <input id="btn-openall" class="actionbutton" type="button" value="Open all">
    <input id="btn-closeall" class="actionbutton" type="button" value="Close all">
    <hr>
    <footer>
        <p>This interactive overview of SMITE god skins has been created by Jan Klass aka Kissaki. All rights reserved.</p>
        <p>Data provided by <a href="https://www.hirezstudios.com">Hi-Rez</a>. ©2015 Hi-Rez Studios, Inc. All rights reserved.</p>
        <p><a href="https://www.smitegame.com">SMITE</a> is a trademark or registered trademark of Hi­Rez Studios, Inc. in the United States and other countries.</p>
    </footer>
    <script src="@GetResourceRef("god-skins.js")"></script>
</body>
</html>
