@using RazorLight
@inherits TemplatePage<KCode.SMITEClient.Data.ItemModel>
<div class="item" data-id="@Model.ItemId" data-isactive="@Model.IsActive">
    <div class="item-desc">
        @if (Model.IconUrl.Length > 0)
        {
            <img class="icon" src="@Model.IconUrl" alt="@Model.Name">
        }
        else
        {
            <div class="noicon">no icon</div>
        }
        <div class="name">@Model.Name</div>
        @if (Model.Price != 0)
        {
            <div class="price">💰 Price: @Model.Price</div>
        }
        else
        {
            <div class="price">💰 Price: <i>none</i></div>
        }
        <div class="properties">
            @{
            }
            @foreach (var prop in Model.Properties)
            {
                <span class="propkey propkey-@prop.CssClass" @(prop.Color != null ? new Microsoft.AspNetCore.Html.HtmlString($@"style=""color: {prop.Color};""") : Microsoft.AspNetCore.Html.HtmlString.Empty) aria-label="@prop.FullLabel ">@prop.Caption</span>
                <span>@prop.Value</span>
            }
        </div>
        @*<div class="item-tags">
            @if (Model.IsStartingItem)
            {
                <span class="tag startingitem">Starting Item</span>
            }
            @(new Microsoft.AspNetCore.Html.HtmlString(string.Join("", Model.Properties.Keys.Select(x => $@"<span class="" tag"">{x}</span>"))))
        </div>*@
        <details class="description shortdesc"><summary>ShortDesc</summary>@Model.ShortDesc</details>
        @if (!string.IsNullOrWhiteSpace(Model.SecondaryDescription))
        {
            <details class="description passive"><summary>Passive</summary><p>@Model.SecondaryDescription</p></details>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <details class="description fulldesc">
                <summary>Desc</summary>
                <div class="description">
                    <p>@Model.Description</p>
                </div>
            </details>
        }
        @if (!string.IsNullOrWhiteSpace(Model.RestrictedRoles) && Model.RestrictedRoles != "no restrictions")
        {
            <details><summary>Role Restr</summary>@Model.RestrictedRoles</details>
        }
    </div>
</div>
